@model IEnumerable<WebWMS.Models.DeliveryLineModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptedQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RejectedQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isUsedForStock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryModel.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptedQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RejectedQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isUsedForStock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeliveryLineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeliveryLineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeliveryLineId })
        </td>
    </tr>
}

</table>
